/* Fix Scroll Modal */
body.modal-open {
  overflow: hidden;
}

/* MEDIA PRINT */
@media print {
  @page {
    size: landscape;
    width: auto;
    margin: 1px;
  }

  #print {
    background-color: #fff !important;
  }

  #no-print {
    display: none;
  }

  table,
  table tr td,
  table tr th {
    font-size: 10px;
  }
}

/* Image */
.responsive {
  background-size: cover;
}

/* Scrollbar */
::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #673ab7;
}

/* / Scrollbar */